asttokens==2.0.5
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2024.2.2
charset-normalizer==2.0.4
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
fonttools==4.25.0
idna==3.4
importlib_metadata==7.1.0
jedi==0.18.1
Jinja2==3.1.3
joblib==1.2.0
jsonschema==4.19.2
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
monai @ git+https://github.com/Project-MONAI/MONAI#egg=monai
packaging==23.2
pandas==2.2.1
parso==0.8.3
Pillow==10.2.0
pip==24.0
protobuf==3.20.3
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
scikit-learn==1.3.0
scipy==1.12.0
six==1.16.0
stack-data==0.2.0
sympy==1.12
torch==2.2.2
torchvision==0.17.2
traitlets==5.7.1
typing_extensions==4.9.0
urllib3==2.1.0
wandb==0.16.5
zipp==3.17.0
-e ./custom_transforms